.App {
}

.container {
  margin: auto;
  max-width: 75%;
  text-align: center;
}

.file-drop-container {
  margin-bottom: 75px;
}

.drag-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 500px;
  height: 250px;
  border: 1px solid black;
}

.dragged-box {
  background-color: #ff5252;
  opacity: 0.3;
}

.un-dragged-box {
  background-color: #fff;
}

.sheet-selector-container {
  margin-bottom: 75px;
}

.sheet-selector {
  width: 300px;
  height: 30px;
}

.search-selection-controls {
  display: inline-flex;
  justify-content: center;
}

#label-search {
  display: block;
  margin: auto;
  width: 400px;
  height: 30px;
}

.label-selector-container {
  margin-bottom: 75px;
}

.label-selector-container ul li {
  text-align: left;
  list-style: none;
}

.labels-box {
  padding-top: 45px;
  width: 100%;
  margin: auto;
  display: inline-flex;
  justify-content: center;
}

.labels-box div {
  margin: 1px;
  border: 1px solid #474747;
  border-collapse: collapse;
  width: 50%;
}

.filtered-labels-section {
  cursor: pointer;
}

.labels-to-add-section {
  cursor: pointer;
}
